<h2>Vehicles</h2>
<% @vehicles.each do |vehicle| %>
	<%= link_to vehicle.name, vehicle %>
	<br>
<% end %>
<h2>Storage</h2>
<% @storages.each do |storage| %>
	<%= link_to storage.name, storage %>
	<br>
<% end %>
